<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Remote Print Form</title>
</head>
<body>
    <h1>Print Barcode</h1>
    <form action="/printers/remote" th:action="@{/printers/remote}" th:object="${remotePrintForm}" method="post">
    <table border="0">
        <tr>
            <td><label for="hostName">Host Name</label></td>
            <td>
                <input type="text" name="hostName" id="hostName" th:field="*{hostName}" />
            </td>
        </tr>
        <tr>
            <td><label for="boundPort">Bound Port</label></td>
            <td>
                <input type="text" name="boundPort" id="boundPort" th:field="*{boundPort}" />
            </td>
        </tr>
        <tr>
            <td><label for="printerCommand">Command</label></td>
            <td>
                <textarea name="printerCommand" id="printerCommand" rows="30" cols="90" th:field="*{printCommand}"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Print!</button>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>